.alert.alert-error#duplicate-alert.none.center=t('searches.duplicate_keyword')
.alert.alert-error#invalid-tokens.none.center=t('searches.invalid_tokens')
.alert.alert-success#search-queued.none.center